<!doctype html>
<html>
  <head>
    <title>Let's get this authentication party started!</title>
  </head>
  <body>
    <h1>Welcome aboard</h1>
    <p>This is a local web page, accessible only to a browser on this computer.</p>
    <p>This is an authentication practice app based on Railscast #250.</p>
  </body>
</html>
